[mpk_tss_summary_body] {
	padding: 0.5rem;
}
[mpk_tss_summary_log],
[mpk_tss_summary_item] {
	background: var(--mol_theme_card);
	box-shadow: var(--mol_theme_line);
	border-radius: var(--mol_gap_round);
	margin-bottom: 0.5rem;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
[mpk_tss_main_summary] {
	flex: 1000 0 600px;
}
[mpk_tss_summary_item]:last-child {
	margin-bottom: 0;
}

[mpk_tss_summary_item_title] {
	display: flex;
	align-items: center;
	flex-grow: 1000;
}

[mpk_tss_summary_all] {
	margin-bottom: 1rem;
	margin-top: 1rem;
}
