[mpk_tss_wrap] {
	flex: 10000 0 500px;
	box-shadow: none;
}

[mpk_tss_wrap_body] {
	padding: 0.5rem 1rem;
}

[mpk_tss_wrap_header] {
	display: block;
	padding: .5rem;
	font-weight: 500;
	margin: 0;
}

[mpk_tss_wrap_tools] {
	align-items: center;
}

[mpk_tss_wrap_header_level="1"] {
	font-size: 1.5em;
}

[mpk_tss_wrap_header_level="2"] {
	font-size: 1.3em;
}

[mpk_tss_wrap_header_level="3"] {
	font-size: 1.1em;
}

[mpk_tss_wrap_header_level="4"] {
	font-size: 1.1em;
	font-style: italic;
}

[mpk_tss_wrap_header_level="5"] {
	font-size: 1.1em;
	font-weight: normal;
	font-style: italic;
}
