[mpk_theme="$mpk_theme_base"] , :root {
	--mpk_theme_status_bg_error: hsl(0, 50%, 50%);
	--mpk_theme_status_bg_warning: hsl(46, 73%, 55%);
	--mpk_theme_status_bg_success: hsl(140, 50%, 50%);
	--mpk_theme_status_bg_inactive:hsl(225, 2%, 60%);
	--mpk_theme_status_bg_unknown: hsl(0, 1%, 60%);

	--mpk_theme_status_text: var(--mol_theme_text);
	--mpk_theme_status_control: var(--mol_theme_field);
	/* --mpk_theme_status_text: white; */

	--mpk_theme_status_text_error: hsl(0, 50%, 50%);
	--mpk_theme_status_text_warning: hsl(46, 73%, 55%);
	--mpk_theme_status_text_success: hsl(140, 50%, 50%);
	--mpk_theme_status_text_inactive:hsl(225, 2%, 60%);
	--mpk_theme_status_text_unknown: hsl(0, 1%, 60%);
}
