[mpk_tss_pereferial_details] {
	flex: 100 0 37rem;
}

[mpk_tss_pereferial_details_list] {
	background: var(--mol_theme_field);
}

[mpk_tss_pereferial_details_parameter] {
	/* justify-content: space-between; */
	padding: 0;
	margin: 0 0rem;
}

[mpk_tss_pereferial_details_parameter]:nth-child(2n) {
	background: var(--mol_theme_line);
}
[mpk_tss_pereferial_details_parameter_name] {
	flex-grow: 0;
	flex-basis: 15rem;
}

[mpk_tss_pereferial_details_parameter_value] {
	flex-grow: 0;
	flex-basis: 10rem;
}

[mpk_tss_pereferial_details_parameter_updated] {
	flex-basis: 9rem;
}

[mpk_tss_pereferial_details_parameter_unknown] {
	color: var(--mol_theme_shade);
}
