[mpk_tss_pereferial_unit_status_type="ready"] {
	color: hsl(140, 50%, 50%);
}

[mpk_tss_pereferial_unit_status_type="not_responding"],
[mpk_tss_pereferial_unit_status_type="error"] {
	color: hsl(0, 50%, 50%);
}


[mpk_tss_pereferial_unit_status_type="unknown"],
[mpk_tss_pereferial_unit_status_type="inactive"] {
	color: hsl(0, 0%, 61%);
}
