[mpk_tss_pereferials_unit_card_group] {
	flex-wrap: nowrap;
	padding: 0;
}

[mpk_tss_pereferials_unit_card_refresh_action] {
	color: white;
}
[mpk_tss_pereferials_unit_card_footer] {
	background: var(--mol_theme_line);
	text-transform: capitalize;
	padding: 0 1rem;
	line-height: 2;
	margin: 0;
}

[mpk_tss_pereferials_unit_type="ready"] {
	--mol_theme_line: hsl(140, 50%, 50%);
}

[mpk_tss_pereferials_unit_type="error"] {
	--mol_theme_line: hsl(0, 50%, 50%);
}

[mpk_tss_pereferials_unit_type="warning"] {
	--mol_theme_line: hsl(29, 50%, 50%);
}

[mpk_tss_pereferials_unit_details] {
	flex: 1000 1 600px;
}

