[mpk_tss_reports_main] {
	flex: 1 0 27rem;
}

[mpk_tss_reports_page_body] {
	overflow-y: scroll;
}

[mpk_tss_reports_page_filter_value] {
	align-self: stretch;
}

[mpk_tss_reports_report_link] {
	display: block;
}

[mpk_tss_reports_carriage] {
	flex: 1000 0 600px;
}
