[mpk_tss_reports_main] {
	flex: 1 1 34rem;
}

[mpk_tss_reports_page_body] {
	overflow-y: scroll;
}

[mpk_tss_reports_page_filter_value] {
	align-self: stretch;
}

[mpk_tss_reports_page_search] {
	display: inline-flex;
}
