[mpk_tss_reports_train_id] {
	flex: 1 1 5rem;
}

[mpk_tss_reports_train_train_number] {
	flex: 1 1 7rem;
}

[mpk_tss_reports_train_started] {
	flex: 1 1 5rem;
}
[mpk_tss_reports_train_average_speed] {
	flex: 1 1 4rem;
}
[mpk_tss_reports_train_delivery] {
    flex: 1 1 5rem;
}
