[mpk_tss_pereferials_unit_details] {
	flex: 1 0 35rem;
}

[mpk_tss_pereferials_unit_details_list] {
	background: var(--mol_theme_field);
}

[mpk_tss_pereferials_unit_details_parameter] {
	justify-content: space-between;
}

[mpk_tss_pereferials_unit_details_parameter]:nth-child(2n) {
	/* background: #666; */
}
[mpk_tss_pereferials_unit_details_parameter_name] {
	flex-basis: 10rem;
}

[mpk_tss_pereferials_unit_details_parameter_value] {
	flex-basis: 7rem;
}

[mpk_tss_pereferials_unit_details_parameter_updated] {
	flex-basis: 10rem;
}
