[mpk_tss_reports_axle_link] {
	--mol_theme_control: var(--mol_theme_field);
}

[mpk_tss_reports_axle_link_wheels] {
	display: flex;
	flex-direction: column-reverse;
	height: 5rem;
	justify-content: space-between;
}
