[mpk_tss_reports_axle_list] {
	display: inline-flex;
	gap: 0.5rem;
	padding: 0.25rem;
	justify-content: space-between;
	box-shadow: 0 0 0 1px var(--mol_theme_line);
}

[mpk_tss_reports_axle_list] > [mol_link_current="true"] {
	--mol_theme_control: var(--mol_theme_field);
}
