[mpk_tss_reports_check_warning] {
	--mol_theme_control: gray;
	--mol_skin_accent: var(--mpk_theme_status_bg_warning);

	margin-bottom: 1px;
	box-shadow: 0 0 0 1px var(--mol_theme_line);
}

[mpk_tss_reports_check_warning_icon] {
	width: 1.5em;
	height: 1.5em;
}
