[mpk_tss_pereferial] {
	flex: 0 1 400px;
}
[mpk_tss_pereferial_results] {
	margin-top: 0.5rem;
	box-shadow: none;
}

[mol_grid_table] {
	margin: 0;
	width: 100%;
}

[mpk_tss_pereferial_filter_title] {
	align-self: stretch;
}

[mpk_tss_pereferial_units] {
	display: flex;
	flex-direction: column;
}

[mpk_tss_pereferial_body] {
	overflow-y: scroll;
	padding: 0.3rem;
}
