[mpk_tss_pereferial] {
	flex: 1 0 20rem;
}

[mpk_tss_pereferial_results] {
	margin-top: 0.5rem;
}

[mpk_tss_pereferial_filter_title] {
	align-self: stretch;
}

[mpk_tss_pereferial_units] {
	display: flex;
	flex-direction: column;
}

[mpk_tss_pereferial_body] {
	overflow-y: scroll;
	padding: 0.3rem;
}
