[mpk_tss_pereferial_link] > [mol_card_status_type="ready"] {
	--mol_theme_line: hsl(140, 50%, 50%);
	--mol_theme_control: white;
}

[mpk_tss_pereferial_link] > [mol_card_status_type="not_responding"],
[mpk_tss_pereferial_link] > [mol_card_status_type="error"] {
	--mol_theme_line: hsl(0, 50%, 50%);
	--mol_theme_control: white;
}

[mpk_tss_pereferial_link] > [mol_card_status_type="inactive"] {
	--mol_theme_line: hsl(225, 2%, 60%);
	--mol_theme_control: white;
}

[mpk_tss_pereferial_link] > [mol_card_status_type="unknown"] {
	--mol_theme_line: hsl(0, 1%, 60%);
	--mol_theme_control: white;
}
