[mpk_tss_pereferial_status_type="ready"] {
	color: var(--mpk_theme_status_text_success);
}

[mpk_tss_pereferial_status_type="not_responding"],
[mpk_tss_pereferial_status_type="error"] {
	color: var(--mpk_theme_status_text_error);
}


[mpk_tss_pereferial_status_type="unknown"],
[mpk_tss_pereferial_status_type="inactive"] {
	color: var(--mpk_theme_status_text_inactive);
}
