[mpk_tss_reports_card] > [mol_card_status_type="ready"] {
	--mol_theme_line: hsl(140, 50%, 50%);
	--mol_theme_control: white;
}

[mpk_tss_reports_card] > [mol_card_status_type="warning"] {
	--mol_theme_line: hsl(46, 73%, 55%);
	--mol_theme_control: white;
}

[mpk_tss_reports_card] > [mol_card_status_type="error"] {
	--mol_theme_line: hsl(0, 50%, 50%);
	--mol_theme_control: white;
}
