[mpk_tss_summary_status_type="warning"] {
	background-color: var(--mpk_theme_status_bg_warning);
}

[mpk_tss_summary_status_type="error"] {
	background-color: var(--mpk_theme_status_bg_error);
}

[mpk_tss_summary_status_type="success"] {
	background-color: var(--mpk_theme_status_bg_success);
}

[mpk_tss_summary_status_type="ready"] {
	background-color: var(--mpk_theme_status_bg_success);
}

[mpk_tss_summary_status] {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: .1rem .5rem;
	color: var(--mpk_theme_status_text);
	min-width: 10rem;
	border-radius: var(--mol_skin_round);
}
