[mpk_tss_reports_carriage_details] {
	flex-direction: column;
}

[mpk_tss_reports_carriage_details_weight] {
	flex: 1 1 4rem;
}

[mpk_tss_reports_carriage_details_type] {
	flex: 1 1 4rem;
}

[mpk_tss_reports_carriage_details_length] {
	flex: 1 1 4rem;
}

[mpk_tss_reports_carriage_details_violation] {
	flex: 1 1 5rem;
}

[mpk_tss_reports_carriage_details_info] {
	/* flex: 1000 1 35rem; */
}

[mpk_tss_reports_carriage_details_axle_list] {
}

[mpk_tss_reports_carriage_details_main2] {
	height: 80%;
}
