[mpk_tss_reports_carriage_details] {
	flex: 1000 1 1200px;
}

[mpk_tss_reports_carriage_details_weight] {
	flex: 1 1 4rem;
}

[mpk_tss_reports_carriage_details_type] {
	flex: 1 1 4rem;
}

[mpk_tss_reports_carriage_details_length] {
	flex: 1 1 4rem;
}

[mpk_tss_reports_carriage_details_violation] {
	flex: 1 1 4rem;
}

[mpk_tss_reports_carriage_details_axle_list] {
	margin: 1rem 0.5rem;
}
