[mpk_tss_reports_carriage_details] {
	flex: 1000 1 900px;
}

[mpk_tss_reports_carriage_details_weight] {
	flex: 1 1 5rem;
}

[mpk_tss_reports_carriage_details_type] {
	flex: 1 1 5rem;
}

[mpk_tss_reports_carriage_details_length] {
	flex: 1 1 4rem;
}
